/*Primary Colors*/

$BandsiteBlack: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

/*Secondary Colors*/

$Bandsite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

/*Font*/

$regular: 400;
$demi: 600;
$bold: 700;

