@use'variables' as *;


@font-face {
    font-family: 'Avenir Next';
    src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
    src: url("../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format ("truetype");
    font-weight: $regular; 
}


@font-face {
    font-family: 'Avenir Next';
    src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
    src: url("../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format ("truetype");
    font-weight: $demi; 
}

@font-face {
    font-family: 'Avenir Next';
    src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
    src: url("../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format ("truetype");
    font-weight: $bold; 
}