@import "./partials/mixins";
@import './partials/variables'; 

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  ul li {
    list-style: none;
  }

  li a {
    text-decoration: inherit;
    padding-bottom: 0.5em;
    color: $Mercury; 
  }

/*li  a:hover, a:active {
          color: $White;
          border-bottom: 3px solid $White;
    
  }
 Use this for navigation besides mobile*/
 
 li:hover, li:active {
  border-bottom: 0.3rem solid $White;
 }

 li a:hover, a:active {
  color: $White;
 }

 .logo {
  height: 20px;
  width: 120px;
 }
