@import './_reset.scss' , './partials/_fonts', './partials/_mixins', './partials/_variables';


.header {
    background-color: $BandsiteBlack;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        height: 4em;
        display:flex;
        align-items:center;
        justify-content: center;
        padding: 2.5em 0em;
    }
    &__nav {
        display: flex;
        height: 10em;
        width: 100%;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 4rem;
        }
        @include desktop {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 10rem;
        }
    

        & ul {
            align-items:center;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;

            @include tablet {
                width: 40%;
                justify-content: center;
                gap: 2em;
        
            }


            @include desktop {
                display: flex;
                width: 40%;
                justify-content: center;
                gap: 2em;
        
            }

            & li {
                @include tablet {
                    width: 30%;
            
                }

                @include desktop{
                    width: 30%;
                    padding-top: 4rem;
            
                }
            }

        }
    }

    & .banner{
        background-image: url(../Assets/Images/hero-bio.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items:center;
        width: 100%;
        height: 25rem;
        color: $White;
        padding-left: 4rem;
        position: relative;

        @include tablet {
            height: 40rem;
        }

        @include desktop {
            padding-left: 10rem;
            height: 60rem;
        }

        &__overlay {
            background-color: rgba(50, 50, 50, 0.50);
            width: 100%;
            height: 25rem;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items:center;
            padding-left: 4rem;

            @include tablet {
                height: 40rem;
            }
    
            @include desktop {
                padding-left: 10rem;
                height: 60rem;
            }
        }
    }

        & h1 {
            @include font-type ($bold,3.2rem, 2.4rem,$White);

            @include tablet {
                @include font-type($bold, 6.8rem, 6rem,$White);
            }

            @include desktop {
                @include font-type($bold, 6.8rem, 6rem,$White);
            }
        }
}


ul li {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;

   
}

ul li a {
    @include font-type($demi, 2.2rem, 1.4rem, $Silver);

    @include tablet {
    position: absolute;
    top: 4rem;

    }

    @include desktop {
        position: absolute;
        top: 4rem;    
        }
}


.section {
    display:flex;
    flex-direction: column;
    padding: 4rem 4rem;
    justify-content:center;
    gap: 1.5em;

    @include desktop {
        padding: 4rem 10rem;
    }

    &__body {

        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            padding: 2em 6em;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }

        @include desktop {
            padding: 2em 13em;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            flex-grow:2;
        }
    }

    &__image {
        width: auto;
        height: 30%;
        flex-grow:2;

        @include tablet {
            height: 30%;
    
        }

        @include desktop {
            height: 30%;

        }
    
    
    }

    &__title {
        @include font-type($bold, 3.2rem, 2.4rem, $Bandsite-DarkBlack);

        @include tablet {
            @include font-type($bold,4.4rem, 3.6rem, $Bandsite-DarkBlack);
        }

        @include desktop {
            @include font-type($bold,4.4rem, 3.6rem, $Bandsite-DarkBlack);
        }
    }

    &__quote {
        @include font-type($demi, 2.2rem, 1.4rem, $Bandsite-DarkBlack);

        @include tablet {
            @include font-type($demi,3.2rem, 2.4rem, $Bandsite-DarkBlack);
        }

        @include desktop {
            @include font-type($demi,3.2rem, 2.4rem, $Bandsite-DarkBlack);
            padding-right: 11rem;
        }

    }

    &__subtitle {
        @include font-type($demi,2.2rem,1.4rem,$Bandsite-DarkBlack);

        @include tablet {
            @include font-type($demi, 3.2rem,2.4rem,$Bandsite-DarkBlack);
        }

        @include desktop {
            @include font-type($demi, 3.2rem,2.4rem,$Bandsite-DarkBlack);
        }
    }

    &__photo-gallery {
        background-color: $Alabaster;
        flex-grow:2;
    }
    
}



.body {
    display: flex;
    flex-direction: column;
    text-align:left;
    gap: 1.5em;

    @include tablet {
        flex-direction: row;
    }
    @include desktop {
        flex-direction: row;
        gap: 4rem;
    }

    &__text {
        @include font-type($regular,1.8rem,1.3rem,$Bandsite-DarkBlack);

        @include tablet {
            @include font-type($regular,2.2rem, 1.4rem, $Bandsite-DarkBlack);
        }

        @include desktop {
            @include font-type($regular,2.2rem, 1.4rem, $Bandsite-DarkBlack);
        }
    }
    

}


.photo-gallery__group {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & img {
        filter: grayscale(1);
        transition: .4s;
    }

    & img:hover {
        filter: none;
        transform: scale(1.05);
        z-index: 1;
    }

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    & img {
        @include tablet {
            width: 30%;
        }

        @include desktop {
            width: 30%;
        }
    }
}


.quote__speaker {
    @include font-type($demi, 2.2rem, 1.4rem, $Bandsite-DarkBlack);

    @include tablet {
        @include font-type($demi, 1.4rem, 2.2rem, $Bandsite-DarkBlack);
    }

    @include desktop {
        @include font-type($demi, 1.4rem, 2.2rem, $Bandsite-DarkBlack);
    }


}

.footer {
    background-color:$BandsiteBlack;
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem;
    gap: 4rem;

    @include tablet {
        position: relative;
    }

    @include desktop {
        position: relative;
    }



    &__title {
        @include font-type($bold, 3.2rem, 2.4rem, $White);

        @include tablet {
            @include font-type($bold,4.4rem, 3.6rem, $White);
        }

        @include desktop {
            @include font-type($bold,4.4rem, 3.6rem, $White);
        }

    }
    
    &__socials {
        display:flex;
        gap: 3em;
    }

    & .socials {
        display: flex;
        align-items: center;
        gap: 3em;
        
        & img {
            max-width: 100%;
            max-height: 2.5rem;
            
            
        }
    }

    &__contact {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    

    &__info {
        display: flex;
        flex-direction: column;
        gap: 2em;


        & p:first-child {
            @include font-type($bold,1.8rem,1.3rem,$White);

        }

        & p {
            @include font-type($regular,1.8rem,1.3rem,$White);

        }
    }
    
    &__logo {

        @include tablet {
        position: absolute;
        right: 3rem;
        top: 5rem;
        }

        @include desktop {
            position: absolute;
            right: 3rem;
            top: 5rem;
            }
    }

    &__copyright {
        @include font-type($regular,1.8rem,1.3rem,$White);


    }
    

}