/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: inherit;
  color: #E1E1E1;
}

/*li  a:hover, a:active {
          color: $White;
          border-bottom: 3px solid $White;

  }
 Use this for navigation besides mobile*/
li:hover, li:active {
  border-bottom: 0.3rem solid #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  li:hover, li:active {
    border-bottom: none;
  }
}

li a:hover, li a:active {
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  li a:hover, li a:active {
    border-bottom: 0.3rem solid #FFFFFF;
    padding-bottom: 3.5rem;
  }
}

.logo {
  height: 20px;
  width: 120px;
}

/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: 700;
}
/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
* {
  font-family: "Avenir Next";
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5em 0em;
}
.header__nav {
  display: flex;
  height: 10em;
  width: 100%;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
  }
}
.header__nav ul {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav ul {
    width: 40%;
    justify-content: center;
    gap: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav ul li {
    width: 30%;
  }
}
.header__banner {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  height: 25em;
  color: #FFFFFF;
  padding-left: 4rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__banner {
    height: 40rem;
  }
}
.header__banner h1 {
  font-family: Avenir Next;
  font-weight: 700;
  line-height: 3.2rem;
  font-size: 2.4rem;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__banner h1 {
    font-family: Avenir Next;
    font-weight: 700;
    line-height: 6.8rem;
    font-size: 6rem;
    color: #FFFFFF;
  }
}

ul li {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  ul li {
    position: relative;
  }
}

ul li a {
  font-family: Avenir Next;
  font-weight: 600;
  line-height: 2.2rem;
  font-size: 1.4rem;
  color: #AFAFAF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  ul li a {
    position: absolute;
    top: 4rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
  justify-content: center;
  gap: 1.5em;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__body {
    padding: 2rem 6rem;
    height: 90rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}
.section__image {
  width: 100%;
  height: 25rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__image {
    height: 32rem;
  }
}
.section__title {
  font-family: Avenir Next;
  font-weight: 700;
  line-height: 3.2rem;
  font-size: 2.4rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__title {
    font-family: Avenir Next;
    font-weight: 700;
    line-height: 4.4rem;
    font-size: 3.6rem;
    color: #000000;
  }
}
.section__quote {
  font-family: Avenir Next;
  font-weight: 600;
  line-height: 2.2rem;
  font-size: 1.4rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__quote {
    font-family: Avenir Next;
    font-weight: 600;
    line-height: 3.2rem;
    font-size: 2.4rem;
    color: #000000;
  }
}
.section__subtitle {
  font-family: Avenir Next;
  font-weight: 600;
  line-height: 2.2rem;
  font-size: 1.4rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .section__subtitle {
    font-family: Avenir Next;
    font-weight: 600;
    line-height: 3.2rem;
    font-size: 2.4rem;
    color: #000000;
  }
}
.section__photo-gallery {
  background-color: #FAFAFA;
}

.body {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5em;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .body {
    flex-direction: row;
  }
}
.body__text {
  font-family: Avenir Next;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .body__text {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 2.2rem;
    font-size: 1.4rem;
    color: #000000;
  }
}

.photo-gallery__group {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__group {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .photo-gallery__group img {
    width: 30%;
  }
}

.quote__speaker {
  font-family: Avenir Next;
  font-weight: 600;
  line-height: 2.2rem;
  font-size: 1.4rem;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .quote__speaker {
    font-family: Avenir Next;
    font-weight: 600;
    line-height: 1.4rem;
    font-size: 2.2rem;
    color: #000000;
  }
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
  gap: 2em;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    position: relative;
  }
}
.footer__title {
  font-family: Avenir Next;
  font-weight: 700;
  line-height: 3.2rem;
  font-size: 2.4rem;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-family: Avenir Next;
    font-weight: 700;
    line-height: 4.4rem;
    font-size: 3.6rem;
    color: #FFFFFF;
  }
}
.footer__socials {
  display: flex;
  gap: 3em;
}
.footer .socials {
  display: flex;
  align-items: center;
  gap: 3em;
}
.footer .socials img {
  max-width: 100%;
  max-height: 2.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.footer__info p:first-child {
  font-family: Avenir Next;
  font-weight: 700;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: #FFFFFF;
}
.footer__info p {
  font-family: Avenir Next;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    position: absolute;
    right: 3rem;
    top: 5rem;
  }
}
.footer__copyright {
  font-family: Avenir Next;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: #FFFFFF;
}/*# sourceMappingURL=bio.css.map */