/*Primary Colors*/
/*Secondary Colors*/
/*Font*/
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf") format("truetype");
  src: url("../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format "truetype";
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf") format("truetype");
  src: url("../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format "truetype";
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf") format("truetype");
  src: url("../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format "truetype";
  font-weight: 700;
}
.hero {
  background-image: url("../Assets/Images/hero-shows.jpg");
  width: 100%;
  height: 40rem;
}
@media (min-width: 768px) {
  .hero {
    height: 60rem;
    padding-right: 3.2rem;
    padding-left: 3.2;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 60rem;
  }
}
.hero .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 40rem;
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .hero .overlay {
    height: 60rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .hero .overlay {
    padding-left: 8rem;
    padding-right: 8rem;
    height: 60rem;
  }
}
.hero__subtitle {
  font-family: Avenir Next;
  font-weight: 400;
  line-height: 3.2rem;
  font-size: 1.6rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 4.4rem;
    font-size: 2.6rem;
    color: #FFFFFF;
  }
}
@media (min-width: 1280px) {
  .hero__subtitle {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 4.4rem;
    font-size: 2.4rem;
    color: #FFFFFF;
  }
}
.hero__title {
  font-family: Avenir Next;
  font-weight: 600;
  line-height: 4.4rem;
  font-size: 3.6rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__title {
    font-family: Avenir Next;
    font-weight: 600;
    line-height: 7.5rem;
    font-size: 6.8rem;
    color: #FFFFFF;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    font-family: Avenir Next;
    font-weight: 600;
    line-height: 6rem;
    font-size: 6.8rem;
    color: #FFFFFF;
  }
}
.hero iframe {
  margin-top: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .hero iframe {
    margin-top: 6rem;
    width: 60%;
  }
}
@media (min-width: 1280px) {
  .hero iframe {
    width: 40%;
    align-self: flex-end;
    justify-self: center;
    position: absolute;
  }
}

.shows-section {
  padding: 0rem;
  gap: 0rem;
  display: flex;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  position: relative;
}
@media (min-width: 1280px) {
  .shows-section {
    align-items: center;
  }
}
.shows-section__title {
  font-weight: 600;
  padding-left: 1.6rem;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .shows-section__title {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .shows-section__title {
    align-self: flex-start;
    padding-left: 10rem;
    padding-right: 20rem;
  }
}

.show {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border-bottom: 1px solid #AFAFAF;
  padding: 1.6rem;
  width: 100%;
}
.show:hover {
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .show {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.6rem 1.6rem;
    height: 10rem;
    margin: 0rem 2rem;
    width: 95%;
  }
}
@media (min-width: 1280px) {
  .show {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    gap: 1.2rem;
    align-items: center;
    padding: 1.6rem;
    margin: 0rem;
    height: 12rem;
  }
}
.show__sub-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
@media (min-width: 768px) {
  .show__sub-group {
    justify-content: flex-start;
    width: 20%;
  }
}
.show__sub-group .sub-group__title {
  font-family: Avenir Next;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1rem;
  color: #AFAFAF;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show__sub-group .sub-group__title {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.1rem;
    color: #AFAFAF;
  }
}
@media (min-width: 1280px) {
  .show__sub-group .sub-group__title {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.1rem;
    color: #AFAFAF;
  }
}
@media (min-width: 768px) {
  .show__sub-group .sub-group__info {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: #000000;
  }
}
@media (min-width: 1280px) {
  .show__sub-group .sub-group__info {
    font-family: Avenir Next;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: #000000;
  }
}
.show__sub-group .sub-group__info--bold {
  font-weight: 600;
}
.show .button {
  font-size: 1.4rem;
  padding: 1rem 3rem;
}
@media (min-width: 768px) {
  .show .button {
    width: 30%;
    margin: 0rem;
  }
}
@media (min-width: 1280px) {
  .show .button {
    width: 30%;
    margin: 0rem;
    padding: 1rem 3rem;
  }
}

.footer {
  margin-top: 1.6rem;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 1rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.footer__logo {
  right: 8rem;
}
@media (min-width: 768px) {
  .footer__logo {
    right: 4rem;
  }
}

.show--selected {
  background-color: #E1E1E1;
}
.show--selected:hover {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */