
@import "../styles/partials/fonts";
@import "../styles/partials/mixins";
@import "global";
@import "../styles/partials/variables";

.hero {

    background-image: url("../Assets/Images/hero-shows.jpg");
    width: 100%;
    height: 40rem;

    @include tablet {
        height: 60rem;
        padding-right: 3.2rem;
        padding-left: 3.2;

    }


    @include desktop {
        height: 60rem;

    }


    .overlay {
        display: flex;
        flex-direction:column;
        justify-content: center;
        gap:1rem;
        width: 100%;
        height: 40rem;
        padding: 1.6rem;


        @include tablet {
            height: 60rem;
            padding-right: 4rem;
            padding-left: 4rem;
        }

        @include desktop {
            padding-left: 8rem;
            padding-right: 8rem;
            height: 60rem;
        }
       
    }


    &__subtitle {

        @include font-type ($regular,3.2rem, 1.6rem,$White);

        @include tablet {
            @include font-type($regular, 4.4rem, 2.6rem,$White);
        }

        @include desktop {
            @include font-type($regular, 4.4rem, 2.4rem,$White);
        }
    } 

    &__title {
        @include font-type ($demi ,4.4rem, 3.6rem,$White);

        @include tablet {
            @include font-type($demi, 7.5rem, 6.8rem,$White);
        }

        @include desktop {
            @include font-type($demi, 6rem, 6.8rem,$White);
        }
    }

    & iframe {
        margin-top: 1rem;
        width: 100%;

        @include tablet {
            margin-top: 6rem;
            width: 60%;

        }

        @include desktop {
            width: 40%;    
            align-self:flex-end;
            justify-self: center;
            position: absolute;
        }
    }

}   


.shows-section {

    padding:0rem;
    gap: 0rem;
    display: flex;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include desktop {
        align-items: center;
    }

  &__title{
    font-weight: $demi;
    padding-left: 1.6rem;
    padding-top: 2.4rem;
    padding-bottom: 1.2rem;

    @include tablet {

        padding-right: 4rem;
        padding-left: 4rem;
    
      }

      @include desktop {
        align-self: flex-start;
        padding-left: 10rem;
        padding-right: 20rem;
    }
  }

 
}


.show {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-bottom: 1px solid $Silver;
    padding: 1.6rem;
    width: 100%;

    @include tablet {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding: 1.6rem 0rem;
        height: 8rem;
        margin: 1rem 2rem;
        width: 95%;

    }

    @include desktop{
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        gap: 1.2rem;
        align-items: center;
        padding: 0rem; 
        margin: 1.6rem;
        height: 8rem;

    }

    &__sub-group {
        display: flex;
        flex-direction: column;
        gap:0.3rem;

        @include tablet {
            justify-content: flex-start;
            width: 20%;

        }

        .sub-group__title {
            @include font-type($regular, 1.8rem, 1rem, $Silver);
            text-transform: uppercase;

            @include tablet {
                @include font-type($regular, 1.8rem, 1.1rem, $Silver);
    
            
            }

            @include desktop {
                @include font-type($regular, 1.8rem, 1.1rem, $Silver);
    
            
            }

        }

        .sub-group__info {

            @include tablet {
                @include font-type($regular, 1.8rem, 1.4rem, $Bandsite-DarkBlack);
    
            
            }
            
            @include desktop {
                @include font-type($regular, 1.8rem, 1.4rem, $Bandsite-DarkBlack);
    
            
            }


            &--bold {
                font-weight: $demi;
            }

        }
    }

    .button {

        font-size:1.4rem;
        padding: 1rem 3rem;
        @include tablet {
            width: 30%;
            margin: 0rem;
        }

        @include desktop {
            width: 30%;
            margin: 0rem;
            padding: 1rem 3rem;
        }
    }


}

.footer {

    margin-top:1.6rem;

    @include tablet {
        margin-top: 1rem;
        padding-right: 4rem;
        padding-left: 4rem;
        
    }

    @include desktop {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    &__logo {
        right: 8rem;

        @include tablet {
            right: 4rem;
        }
    }
}



  
