
@import "../styles/partials/fonts";
@import "../styles/partials/mixins";
@import "global";
@import "../styles/partials/variables";

.hero {

    background-image: url("../Assets/Images/hero-shows.jpg");
    width: 100%;
    height: 40rem;

    @include tablet {
        height: 60rem;

    }


    @include desktop {
        height: 60rem;

    }


    .overlay {
        display: flex;
        flex-direction:column;
        justify-content: center;
        gap:1rem;
        width: 100%;
        height: 40rem;


        @include tablet {
            height: 60rem;
        }

        @include desktop {
            padding-left: 3.6rem;
            padding-right: 3.6rem;
            height: 60rem;
        }
       
    }


    &__subtitle {

        @include font-type ($regular,3.2rem, 1.6rem,$White);

        @include tablet {
            @include font-type($regular, 4.4rem, 2.6rem,$White);
        }

        @include desktop {
            @include font-type($regular, 4.4rem, 2.4rem,$White);
        }
    } 

    &__title {
        @include font-type ($demi ,4.4rem, 3.6rem,$White);

        @include tablet {
            @include font-type($demi, 7.5rem, 6.8rem,$White);
        }

        @include desktop {
            @include font-type($demi, 6rem, 6.8rem,$White);
        }
    }

    & iframe {
        margin-top: 1rem;
        width: 100%;

        @include tablet {
            margin-top: 6rem;
            width: 60%;

        }

        @include desktop {
            width: 40%;    
            align-self:flex-end;
            justify-self: center;
            position: absolute;
        }
    }

}   

.section {
    padding: 0rem;
  &__title{
    font-weight: $demi;
    padding-left: 1.6rem;
  }
}


.show {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-bottom: 1px solid $Silver;
    padding: 1.6rem;

    &__sub-group {
        display: flex;
        flex-direction: column;
        gap:0.3rem;

        .sub-group__title {
            @include font-type($regular, 1.8rem, 1rem, $Silver);
            text-transform: uppercase;

        }

        .sub-group__info {


            &--bold {
                font-weight: $demi;
            }

        }
    }




}



  
